---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-white bg-deepslate">
		<slot />
	</body>
</html>

<style>
	@import url('/inter/inter.css');
	@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

	body {
		font-feature-settings: 'ss01' on, 'salt' on;
	}
</style>